<% user = completion_count_for_user %>
<% if completion_count.total_closed_for_user(user.id) > 0 %>
<table class="list issues user-report" id="user-<%= h user.id -%>">
  <thead>
    <th colspan="2"><%= h user.name %></th>
  </thead>
  <tbody>
    <% trackers.each do |tracker| %>
    <tr class="tracker" id="tracker-<%= tracker.id -%>">
      <td><%= h tracker.name %></td>
      <td><%= completion_count.total_by_tracker_for_user(tracker, user.id) %></td>
    </tr>
    <% end %>
    <tr class="total-closed">
      <td><%= l(:reports_completion_count_closed) %></td>
      <td><%= completion_count.total_closed_for_user(user.id) %></td>
    </tr>
  </tbody>
</table>
<% else %>
<p>
  <%= h user.name -%> (<%= l(:label_none) %>)
</p>
<% end %>
<br />
