<%= render :partial => 'menu' %>

<h2><%= l(:reports_completion_count) %></h2>

<% labelled_tabular_form_for :completion_count, @completion_count, {} do |f| %>

<p><%= f.text_field :start_date, :size => 10 %><%= calendar_for('completion_count_start_date') %></p>
<p><%= f.text_field :end_date, :size => 10 %><%= calendar_for('completion_count_end_date') %></p>
<p><%= f.label :users %><%= f.collection_select :user_ids, @completion_count.default_users, :id, :name, {:prompt => 'All techs', :selected => @completion_count.selected_user_ids}, {:multiple => true} %></p>
<%= submit_tag l(:button_apply) %>
<% end %>

<% if request.post? %>

<table class="list issues" id="totals">
  <thead>
    <th colspan="2">All Techs</th>
  </thead>
  <tbody>
    <tr class="incoming">
      <td>Incoming</td>
      <td><%= @completion_count.total_incoming %></td>
    </tr>
    <tr class="completed">
      <td>Completed</td>
      <td><%= @completion_count.total_completed %></td>
    </tr>
    <tr class="difference">
      <td>Difference</td>
      <td><%= @completion_count.total_incoming - @completion_count.total_completed %></td>
    </tr>
  </tbody>
</table>
<br />

<%= render :partial => 'completion_count_for_user', :collection => @completion_count.selected_users_or_all_users, :locals => {:trackers => Tracker.all, :completion_count => @completion_count } %>
<% end %>
