<%= render :partial => 'menu' %>

<h2><%= l(:reports_text_unbilled_po) %></h2>

<%= render(:partial => 'billing_export',
           :locals => {:total => @unbilled_po_total, :items => @unbilled_po, :label => 'unbilled_po'}) %>

<h2><%= l(:reports_text_unspent_labor) %></h2>

<%= render(:partial => 'billing_export',
           :locals => {:total => @unspent_labor_total, :items => @unspent_labor, :label => 'unspent_labor'}) %>

<h2><%= l(:reports_text_unbilled_labor) %></h2>

<%= render(:partial => 'billing_export',
           :locals => {:total => @unbilled_labor_total, :items => @unbilled_labor, :label => 'unbilled_labor'}) %>

